* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(230, 230, 230);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.cabecalho {
  background-color: rgb(255, 123, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 65px;
}

.cabecalho-logo {
  padding-left: 60px;
}

.cabecalho-menu1 {
  display: flex;
  gap: 80px;
  padding-right: 40px;
}

.cabecalho-menu2 {
  display: flex;
  gap: 20px;
  padding-right: 170px;
}

.cabecalho-icones {
  display: flex;
  flex-direction: column;
  height: 20px;
}

.cabecalho-menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

.cabecalho-input {
  border-radius: 40px;
  border: none;
}

.cabecalho2-container {
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
  padding: 10px;
  border-bottom: 0.5px solid rgb(223, 223, 223);
}

.cabecalho2-links {
  color: rgb(71, 71, 71);
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

.featured-menu {
  background-color: white;
  height: 50px;
}

.container-imagens {
  display: flex;
  flex-direction: row;
  max-height: 400px;
  padding-top: 50px;
  justify-content: center;
}

.imagens-laterais{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.laterais-img {
  max-height: 193px;
  width: auto;
  border-radius: 10px;
}














.maisDestaques {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 119, 0);
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 2%;
    padding: 1.5%;
}